---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
---

<Base>
  <main id="main-content">
    <Hero />
    <Skills />
  </main>
</Base>
