---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
---

<Base>
  <main id="main-content">
    <Hero />
    <Skills />
    <Experience />
  </main>
</Base>
